 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cor-destaque: #FCC91C;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: #000A;
    background-blend-mode: darken;
    font-family: 'Roboto', sans-serif;
}

header{
    /* background-color: steelblue; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items:flex-end ;
}

h1{
    color: white;
    font-size: 3rem;
    font-weight: 400;
}

main{
    flex-grow: 1;
    display: flex;
}

section{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias table{
    font-size: 1.5rem;
    border-spacing: 4px;
}

.categorias th{
    background-color: var(--cor-destaque);
    width: 500px;
    height: 50px;
    border-radius: 5px;
}

.categorias td{
    background-color: var(--cor-destaque);
    width: 50px;
    width: 250px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 300;
}

.calculadora form{
    display: flex;
    flex-direction: column;
    gap: 10px;    
}

.calculadora label{
    color: white;
}

.calculadora .campo{
    display: flex;
    flex-direction: column;
    position: relative;
}

.calculadora .campo.unidade::before{
    content: attr(data-unidade);
    position: absolute;
    background-color: var(--cor-destaque);
    bottom: 0;
    right: 0;
    height: 50px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
}

.calculadora input{
    height: 50px;
    border: 2px solid var(--cor-destaque);
    background-color: transparent;
    outline: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.calculadora button{
    height: 50px;
    background-color: var(--cor-destaque);
    font-size: 1rem;
    border-radius: 5px;
}

.calculadora #resultado{
    height: 100px;
    background-color: var(--cor-destaque);
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
}

footer{
    /* background-color: cadetblue;  */
    height: 40px;
    color: white;
    font-style: italic;
    text-align: center;
    font-size: .8rem;
}

@media(max-width:768px){
    body{
        height: 200vh;
    }
    
    main{
        flex-direction: column-reverse;
    }

    section{
        height: 100vh;
    }

    h1{
        font-size: 2rem;
    }

    .calculadora form{
        width: 80%;
    }
}